body {
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal;
    font-family: 'Gilroy';
}

a { text-decoration: none;}
   
@font-face {
    font-family: 'Gilroy';
    src: url("../fonts/Fonts-family/gilroy/Gilroy-Bold.ttf");
}

header {
    width: 100%;
    padding: 28px 130px;
    position: fixed;
    z-index: 2;
    top: 0;
    background: #FCEED5!important;
}

header .svg-inline--fa {font-size: 25px!important;}
    
button {border: none;}
    
#about {
    background: linear-gradient(134deg, #FCEED5 6.17%, #FCEED5 75.14%, #FFE7BA 100%);
    height: 740px;
}

.img-none { display: none;}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lef-nav {
    display: flex;
    align-items: center;
    gap: 48px;
}

.right-nav {
    display: flex;
    align-items: center;
    gap: 14px;
}

.right-nav .search-container {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 280px;
    padding: 12px 20px 12px 16px;
    border-radius: 46px;
    background:  rgba(253, 253, 253, 1);
}

.right-nav form input {
    width: 100%;
    outline: none;
    border: none;
    cursor: pointer;
}

.right-nav ::placeholder { font-size: 14px;}
   
.right-nav .search a {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: rgba(153, 162, 165, 1);
}

.right-nav button {
    display: flex;
    width: 220px;
    height: 44px;
    padding: 10px 28px 10px 28px;
    justify-content: center;
    align-items: center;
    border-radius: 57px;
    background: rgba(0, 52, 89, 1);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: rgba(253, 253, 253, 1);
}

.right-nav .btn {
    display: flex;
    align-items: center;
    gap: 12px;
}

.right-nav .vnd {
    display: flex;
    align-items: center;
    gap: 12px;
    position: relative;
}

.vnd select {
    width: 94px!important;
    border: none;
    outline: none;
    padding: 5px;
    background: none;
}

.liste-nav {
    display: flex;
    align-items: center;
    gap: 48px;
}

.liste-nav li{list-style: none;}

.liste-nav li a{
    color: rgba(0, 52, 89, 1);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.oval {
    position: absolute;
    top: -600px;
    left: -240px;
    width: 635px;
    height: 635px;
    background: rgba(247, 219, 167, 1);
    border-radius: 99px;
    transform: rotate(25.23deg);
    z-index: -1;
}

#about .container {
    position: relative;
    top: 130px;
}

/*******/

.toggle { display: none;}
  
.responsive {display: none;}

.responsive-btn-more-view {display: none;}

.responsive-btn-more-view .button {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1430px) {

    header { padding: 28px 50px;}
       
    .right-nav {
        display: flex;
        justify-content: space-between;
        gap: 14px;
    }
}

@media screen and (max-width: 1260px) {

    header { padding: 28px 32px;}
    
    .lef-nav { gap: 20px;}
    
    .liste-nav {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .img-oval img {
        width: 700px;
        top: 140px;
    }
}

@media screen and (max-width: 1115px){
    header .lef-nav {
        margin-top: 7px;
        justify-content: center;
    }
    header .liste-nav {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
    header .right-nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        gap: 40px;
    }
    .right-nav .btn {
        flex-direction: column;
        gap: 40px;
    }
    .img-block {display: none;}

    .responsive {display: block!important;}
        
    .responsive {
        display: flex!important;
        align-items: center!important;
        justify-content: space-between!important;
    }
    .toggle {
        display: block;
        cursor: pointer;
        position: relative;
        z-index: 20;
    }
    .ouvrir {
        display: block;
    }
    .fermer { display: none;}
       
    .open .ouvrir { display: none;}
       
    .open .fermer {display: block;}
        
    .nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100vh;
        flex-direction: column;
        justify-content: left;
        gap: 40px;
        padding: 30px;
        transform: translateX(-100%);
        transition:transform 0.3s;
        background: #FCEED5;
    }
    .open .nav { transform: translateX(0);}
       
    header .oval {
        top: -612px;
        left: 25px;
        transform: rotate(16.23deg);
    }
}

@media screen and (max-width: 756px) {
    .nav {  width: 100%;}
      
    .img-oval img {
        width: 600px;
        left: -30px;
    }
    header .oval {left: -190px;}
}

@media screen and (max-width: 576px) {

    header { padding: 15px 16px;}

}